<div class="container-fluid">
  <div class="row">


  <input type="float" id="bitcoin-amount"  placeholder="bitcoin amount">
  <button class="btn btn-success" type="submit" name="button">Go</button>

<div class="all_date">
  <div class="nothing">
    The current bitcoin price is:
  </div>
  <div class="total_price">
    4
  </div>
  <div class="total_price_amount">

  </div>

</div>
  </div>
</div>
